<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Baton</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <script>
        const AppState = {
            INITIAL: 'initial',
            DOWNLOADING: 'downloading',
            DOWNLOAD_COMPLETE: 'download_complete',
            STRAVA_AUTHENTICATED: 'strava_authenticated',
            UPLOADING: 'uploading',
            UPLOAD_COMPLETE: 'upload_complete',
        };

        let currentState = AppState.INITIAL;

        function setState(newState) {
            /*
            * Function to set the current app state.
            */
            currentState = newState;
            console.log('State:', currentState);
            updateUI();
            saveState();
        }

        function updateUI() {
            /*
            * Function to update the UI based on the current app state.
            */
            const downloadButton = document.getElementById('download_workouts_button');
            const authenticateStravaButton = document.getElementById('authenticate_strava_button');
            const uploadWorkoutsButton = document.getElementById('upload_workouts_button');
            const downloadProgress = document.getElementById('download_progress');
            const downloadProgressBar = document.getElementById('download_progress_bar');
            const uploadProgress = document.getElementById('upload_progress');
            const uploadProgressBar = document.getElementById('upload_progress_bar');
            const stravaAuthMessage = document.getElementById('strava_auth_message');
            const resetButton = document.getElementById('reset_button');

            // Reset all elements
            downloadButton.disabled = true;
            authenticateStravaButton.disabled = true;
            uploadWorkoutsButton.disabled = true;
            downloadProgress.style.display = 'none';
            uploadProgress.style.display = 'none';
            stravaAuthMessage.style.display = 'none';

            switch (currentState) {
                case AppState.DOWNLOADING:
                    downloadButton.disabled = true;
                    downloadProgress.style.display = 'block';
                    break;
                case AppState.DOWNLOAD_COMPLETE:
                    downloadButton.disabled = true;
                    downloadProgress.style.display = 'block';
                    downloadProgressBar.style.width = '100%';
                    downloadProgressBar.innerHTML = '100%';
                    downloadProgressBar.classList.remove('progress-bar-striped', 'progress-bar-animated');
                    authenticateStravaButton.disabled = false;
                    break;
                case AppState.STRAVA_AUTHENTICATED:
                    downloadButton.disabled = true;
                    downloadProgress.style.display = 'block';
                    downloadProgressBar.style.width = '100%';
                    downloadProgressBar.innerHTML = '100%';
                    downloadProgressBar.classList.remove('progress-bar-striped', 'progress-bar-animated');
                    authenticateStravaButton.disabled = true;
                    uploadWorkoutsButton.disabled = false;
                    stravaAuthMessage.style.display = 'block';
                    stravaAuthMessage.innerHTML = 'Strava authentication successful!';
                    break;
                case AppState.UPLOADING:
                    downloadButton.disabled = true;
                    authenticateStravaButton.disabled = true;
                    uploadWorkoutsButton.disabled = true;
                    uploadProgress.style.display = 'block';
                    break;
                case AppState.UPLOAD_COMPLETE:
                    downloadButton.disabled = true;
                    authenticateStravaButton.disabled = true;
                    uploadWorkoutsButton.disabled = true;
                    uploadProgress.style.display = 'block';
                    uploadProgressBar.style.width = '100%';
                    uploadProgressBar.innerHTML = '100%';
                    uploadProgressBar.classList.remove('progress-bar-striped', 'progress-bar-animated');
                    break;
            }
        }

        function saveState() {
            /*
            * Function to save the app state to localStorage.
            */
            localStorage.setItem('appState', currentState);
            localStorage.setItem('mapmyrunUsername', document.getElementById('mapmyrun_username').value);
            localStorage.setItem('mapmyrunPassword', document.getElementById('mapmyrun_password').value);
        }

        function loadState() {
            /*
            * Function to load the app state from localStorage.
            */
            const savedUsername = localStorage.getItem('mapmyrunUsername');
            const savedPassword = localStorage.getItem('mapmyrunPassword');
            if (savedUsername) document.getElementById('mapmyrun_username').value = savedUsername;
            if (savedPassword) document.getElementById('mapmyrun_password').value = savedPassword;

            const savedState = localStorage.getItem('appState');
            if (savedState) {
                setState(savedState);
            }
        }


        function checkStep1Form() {
            /*
            * Function to check if the MapMyRun login fields are filled out and valid.
            * If the form is valid, enable the download workouts button.
            */
            const username = document.getElementById('mapmyrun_username').value;
            const password = document.getElementById('mapmyrun_password').value;
            const downloadButton = document.getElementById('download_workouts_button');
            const isEmailValid = validateEmail(username);
            downloadButton.disabled = !(username && password && isEmailValid) || currentState === AppState.DOWNLOADING;

            const emailError = document.getElementById('email_error');
            emailError.style.display = isEmailValid ? 'none' : 'block';
        }

        function validateEmail(email) {
            /*
            * Function to validate an email address.
            * Returns true if the email is valid, false otherwise.
            */
            const re = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            return re.test(String(email).toLowerCase());
        }

        function startDownloadWorkouts() {
            /*
            * Function to start the workout download process.
            */
            document.getElementById('download_workouts_button').disabled = true;
            document.getElementById('mapmyrun_error').style.display = 'none';
            $.ajax({
                url: '/download',
                method: 'POST',
                data: {
                    mapmyrun_username: document.getElementById('mapmyrun_username').value,
                    mapmyrun_password: document.getElementById('mapmyrun_password').value
                },
                success: function(response) {
                  if (response.status === "success") {
                    // Poll for progress updates
                    document.getElementById('mapmyrun_error').style.display = 'none';
                    setState(AppState.DOWNLOADING);
                    pollDownloadProgress();
                  } else {
                    document.getElementById('mapmyrun_error').innerHTML = response.message;
                    document.getElementById('mapmyrun_error').style.display = 'block';
                    setState(AppState.INITIAL);
                  }
                },
                error: function(response) {
                    document.getElementById('mapmyrun_error').innerHTML = response.message;
                    setState(AppState.INITIAL);
                }
            });
        }

        function pollDownloadProgress() {
            /*
            * Function to poll the server for download progress updates.
            */
            $.ajax({
                url: '/download_progress',
                method: 'GET',
                success: function(response) {
                    // Update progress bar
                    const percentage = parseFloat(response.progress).toFixed(2);
                    const progressBar = $('#download_progress_bar');

                    progressBar.css('width', percentage + '%')
                                .attr('aria-valuenow', percentage)
                                .text(percentage + '%');

                    if (percentage >= 100) {
                        setState(AppState.DOWNLOAD_COMPLETE);
                    } else {
                        setTimeout(pollDownloadProgress, 5000); // Poll every 5 seconds
                    }
                },
                error: function() {
                    $('#status').html('Error fetching progress.');
                    setState(AppState.INITIAL);
                }
            });
        }

        function startUploadWorkouts() {
            /*
            * Function to start the workout upload process.
            */
            setState(AppState.UPLOADING);
            $.ajax({
                url: '/upload',
                method: 'POST',
                success: function(response) {
                    // Start polling for progress updates
                    pollUploadProgress();
                },
                error: function() {
                    $('#status').html('Error during upload.');
                }
            });
        }

        function pollUploadProgress() {
            /*
            * Function to poll the server for upload progress updates.
            */
            $.ajax({
                url: '/upload_progress',
                method: 'GET',
                success: function(response) {
                    // Update progress bar
                    const percentage = parseFloat(response.progress).toFixed(2);
                    const progressBar = $('#upload_progress_bar');

                    progressBar.css('width', percentage + '%')
                                .attr('aria-valuenow', percentage)
                                .text(percentage + '%');
                    
                    if (percentage >= 100) {
                        setState(AppState.UPLOAD_COMPLETE);
                    } else {
                        setTimeout(pollUploadProgress, 5000); // Poll every 5 seconds
                    }
                },
                error: function() {
                    $('#status').html('Error fetching upload progress.');
                }
            });
        }

        function resetState() {
            /*
            * Function to reset the app state and clear the form fields.
            */
            setState(AppState.INITIAL);
            document.getElementById('mapmyrun_username').value = '';
            document.getElementById('mapmyrun_password').value = '';

            // Reset download progress bar
            const downloadProgressBar = document.getElementById('download_progress_bar');
            downloadProgressBar.style.width = '0%';
            downloadProgressBar.innerHTML = '0%';
            downloadProgressBar.classList.add('progress-bar-striped', 'progress-bar-animated');
            document.getElementById('download_progress').style.display = 'none';

            // Reset upload progress bar
            const uploadProgressBar = document.getElementById('upload_progress_bar');
            uploadProgressBar.style.width = '0%';
            uploadProgressBar.innerHTML = '0%';
            uploadProgressBar.classList.add('progress-bar-striped', 'progress-bar-animated');
            document.getElementById('upload_progress').style.display = 'none';

            document.getElementById('strava_auth_message').style.display = 'none';
            document.getElementById('mapmyrun_error').style.display = 'none';
            checkStep1Form();
        }

        document.addEventListener('DOMContentLoaded', function() {
            /*  
            * Function to run when the page is loaded.
            */
            loadState();
            checkStep1Form();
            var stravaAuthData = document.getElementById('strava-auth-data');
            if (stravaAuthData.dataset.stravaAuthenticated === 'true' && currentState === AppState.DOWNLOAD_COMPLETE) {
                setState(AppState.STRAVA_AUTHENTICATED);
            }
        });

    </script>

    <style>
        body {
            font-family: 'Plus Jakarta Sans', sans-serif;
            background: linear-gradient(135deg, #1e90ff, #ff8c00);
            min-height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .container {
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 15px;
            padding: 30px;
            margin-top: 30px;
            margin-bottom: 30px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
        }

        h1, h3 {
            color: #333;
        }

        .card {
            border: none;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
            background-color: rgba(255, 255, 255, 0.9);
        }

        .btn-primary {
            background-color: #4a90e2;
            border-color: #4a90e2;
        }

        .btn-primary:hover {
            background-color: #3a7bc8;
            border-color: #3a7bc8;
        }

        .btn-secondary {
            background-color: #6c757d;
            border-color: #6c757d;
        }

        .btn-secondary:hover {
            background-color: #5a6268;
            border-color: #5a6268;
        }

        #download_progress, #upload_progress {
            position: relative;
            height: 20px;
            overflow: hidden;
        }

        #download_progress_bar, #upload_progress_bar {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            min-width: 4em;
            transition: width 0.5s ease;
        }

        #upload_error {
            margin-top: 1rem;
        }

        #reset_button {
            background-color: #fc4c02;
            border-color: #fc4c02;
        }

        #reset_button:hover {
            background-color: #e34402;
            border-color: #e34402;
        }

        #email_error {
            color: #fc4c02;
        }
    </style>
</head>
<body>
    <div id="strava-auth-data" data-strava-authenticated="{{ strava_authenticated|lower }}"></div>

    <div class="container">
        <h1 class="mb-2">Welcome to Baton</h1>
        <h5 class="mb-4"><em>Baton is a tool to help you transfer your workouts from MapMyRun to Strava.</em></h5>

        <!-- Step 1: Authenticate with MapMyRun -->
         <div class="card mb-4">
            <div class="card-body">
                <h3 class="card-title">Step 1: Authenticate with MapMyRun and Download Workouts</h3>
                <form method="POST" oninput="checkStep1Form();">
                    <div class="mb-3">
                        <label for="mapmyrun_username" class="form-label">MapMyRun Username:</label>
                        <input type="email" id="mapmyrun_username" name="mapmyrun_username" class="form-control" required>
                        <div id="email_error" class="mt-3" style="display: none;">Invalid email format.</div>
                    </div>
                    <div class="mb-3">
                        <label for="mapmyrun_password" class="form-label">MapMyRun Password:</label>
                        <input type="password" id="mapmyrun_password" name="mapmyrun_password" class="form-control" required>
                    </div>
                    <div id="mapmyrun_error" class="text-danger mb-3" style="display: none;"></div>
                    <button type="button" id="download_workouts_button" class="btn btn-primary" onclick="startDownloadWorkouts()" disabled>Download MapMyRun Workouts</button>
                </form>

                <div class="progress mt-4" id="download_progress" style="display: none;">
                    <div id="download_progress_bar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
                </div>
            </div>
        </div>

        <!-- Step 2: Authenticate with Strava -->
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Step 2: Authenticate with Strava and Upload Workouts</h3>
                
                <button type="button" id="authenticate_strava_button" class="btn btn-secondary" onclick="window.location.href='/login'" disabled>Authenticate with Strava</button>
                <button type="button" id="upload_workouts_button" class="btn btn-primary" onclick="startUploadWorkouts()" disabled>Upload Workouts to Strava</button>
                <div id="strava_auth_message" class="alert alert-success mt-3" style="display: none;"></div>
                
                <div class="progress mt-4" id="upload_progress" style="display: none;">
                    <div id="upload_progress_bar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
                </div>

                <div id="upload_error" class="alert alert-danger mt-3" style="display: none;"></div>
            </div>
        </div>

        <div class="mt-4">
            <button id="reset_button" class="btn btn-danger" onclick="resetState()">Reset</button>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>